window {
margin: 0px;
border: 2px solid #ff3c00;
background-color: #141414;
transition: 560ms;
border-radius: 6px;
}

#input {
margin: 5px;
border: 0px solid #a7ffbc;
color: #D3C6AA;
background-color: #353535;
transition: 560ms;
border-radius: 12px;

}

#inner-box {
margin: 5px;
border: none;
border-radius: 12px;
transition: 560ms;
background-color: #141414;
}

#outer-box {
margin: 5px;
border: none;
transition: 560ms;
background-color: #141414;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #e9fcff;
}

#entry:selected {
background-color: #e45000;
border-radius: 12px;
padding: 6px;
transition: 465ms;
}
